<p id="notice"><%= notice %></p>

<h1>Listing O Rganizations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @o_rganizations.each do |o_rganization| %>
      <tr>
        <td><%= link_to 'Show', o_rganization %></td>
        <td><%= link_to 'Edit', edit_o_rganization_path(o_rganization) %></td>
        <td><%= link_to 'Destroy', o_rganization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New O rganization', new_o_rganization_path %>
